<ion-toolbar>
  <ion-title>Hazard Viewer</ion-title>
  <ion-buttons slot="secondary">
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <div id="map" #map>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="showEventForm($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-bottom-drawer id="bottom-sheet" [(state)]=drawerState [(dockedHeight)]=dockedHeight>
    <div class="drawer-content">
      <ion-toolbar>
        <ion-title>Capture Event</ion-title>
        <ion-buttons slot="primary">
          <ion-button ion-button color="primary" [disabled]="!eventForm.valid" (click)="captureEvent($event)">
            <ion-icon slot="icon-only" name="locate"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <form [formGroup]="eventForm">
      <ion-list>
        <ion-item *ngFor="let hazardType of hazardTypes">
          <ion-label stacked>{{hazardType.name}}</ion-label>
          <ion-select formControlName="HazardType" [(ngModel)]="bindingData[hazardType.name]">
            <ion-select-option *ngFor="let field of hazardType.values" [value]="field.code">
              {{field?.description}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-row>
          <ion-item>
            <ion-input placeholder="Description..." type="text" formControlName="Description" autocorrect></ion-input>
          </ion-item>
        </ion-row>

        <ion-item>
          <ion-label position="stacked">Photo</ion-label>
          <input type="file" id="filechooser" />
        </ion-item>

      </ion-list>
    </form>



  </ion-bottom-drawer>

</ion-content>