<ion-toolbar>
  <ion-title>Add Event</ion-title>
  <ion-buttons slot="primary">
    <ion-button [disabled]="!eventForm.valid" ion-button color="primary" (click)="postEvent($event)">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>

  </ion-buttons>
</ion-toolbar>



<form [formGroup]="eventForm">
  <ion-list>
    <!-- <ion-item  >
      <ion-label stacked>Hazard Event Type:</ion-label>
      <ion-select value="One" formControlName="HazardType" [interfaceOptions]="customPopoverOptions" interface="popover">
        <ion-select-option *ngFor="let hazardType of hazardTypes" [value]="hazardType.description">
          {{hazardType?.description}}
        </ion-select-option>
      </ion-select>
    </ion-item> -->

    <ion-item *ngFor="let hazardType of hazardTypes">
      <ion-label stacked>{{hazardType.name}}</ion-label>
      <ion-select formControlName="HazardType">
        <ion-select-option *ngFor="let field of hazardType.values" [value]="field.code">
          {{field?.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Description..." type="text" formControlName="Description" autocorrect></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-list>

</form>